/* ----- */
/* INTRO */
/* ----- */
.hasIntroSection {
  padding-top: 100vh;
}

.introSection {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

/* ------ */
/* SLIDER */
/* ------ */
.slider {
  padding: var(--space-section) var(--space-gutter);
}

.carouselFrame {

}

.carousel {

}