.js-gallery-controls {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 10px;
}

.gallery-control svg {
  display: block;
  width: 40%;
  height: 40%;
}

.gallery-control {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.gallery-control:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.gallery-control:active {
  transform: scale(0.98);
}

.js-trigger-play,
.js-trigger-pause {
  display: none;
}

.js-trigger-prev,
.js-trigger-next {
  width: 50px;
  height: 50px;
}

aen-gallery:not([moving]) .js-trigger-play,
aen-gallery[moving] .js-trigger-pause {
  display: flex;
}

.gallery-images::before {
  padding-bottom: 56.25%;
}

.js-gallery-image:not(.active) {
  display: none;
}
