:root {
  --color1: 0, 0, 0;
  --color2: 100, 100, 100;
  --color3: 0, 0, 0;
  --color-font: 5, 5, 5;
  --color-font-secondary: var(--color-font), 0.5;
  
  --page-width: 1440px;
  --space-floor: 10px;
  --space-section: calc(var(--space-floor) * 5);
  --space-block: calc(var(--space-floor) * 1);
  --space-gutter: calc(var(--space-floor) * 2);
  --space1: calc(var(--space-floor) * 4);
  --space2: calc(var(--space-floor) * 2);
  --space3: calc(var(--space-floor) * 1);

  --timing-long: 500ms;
  --timing-short: 300ms;
}

@media screen and (min-width: 1024px) {
  :root {
    --space-floor: 20px;
  }
}

/* ------- */
/* UTILITY */
/* ------- */
html {
  font-size: 100%;
  color: rgba(var(--color-font), 1);
  font-family: 'Poppins', sans-serif;
}

.heading {
  font-size: 3rem;
  color: rgba(var(--color-font), 1);
  font-family: 'Poltawski Nowy', serif;
  font-weight: 700;
}

.subheading {
  font-size: 2rem;
  color: rgba(var(--color-font-secondary));
}

.description {
  font-size: 1.2rem;
}

.subheading, .heading, .description {
  margin-bottom: 0.25em;
}

.frame {
  position: relative;
}

.frame::before {
  content: "";
  padding-bottom: var(--frame-aspect, 100%);
  display: block;
}

.frame img, .section > img, .fullSection > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ---------- */
/* ANIMATIONS */
/* ---------- */
.activeTransitions #Menu, .activeTransitions #Content {
  transition: transform var(--timing-long) ease;
}

.activeMenu #Menu {
  transform: translateX(0);
}

.activeMenu #Content {
  transform: translateX(var(--move-content));
}

/* ------- */
/* SECTION */
/* ------- */
.section, .fullSection, .fullSection > * {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
}

.section {
  padding: var(--space-section) var(--space-gutter);
  min-height: 100vh;
}

.fullSection > div {
  padding-right: var(--space-gutter);
  padding-left: var(--space-gutter);
}

.fullSection > div:nth-child(odd) {
  padding-top: var(--space-section);
  padding-bottom: var(--space-section);
}

.fullSection > div:nth-child(even) {
  padding-top: var(--space-section);
  padding-bottom: var(--space-section);
}

.section > div, .fullSection > div {
  position: relative;
  flex: 1 0 100%;
}

.section > div, .fullSection > div > div {
  padding: var(--space-block);
  width: 100%;
}

@media screen and (max-width: 1023px) {
  .section > div:not(:last-child):nth-child(odd) {
    margin-bottom: var(--space-gutter)
  }
}

@media screen and (min-width: 1024px) {
  .section > div:not(:only-child), .fullSection > div:not(:only-child) > div {
    max-width: calc(var(--page-width) / 2);
  }
  
  .fullSection > div {
    flex: 1 1 50%;
  }
  
  .section > div {
    flex: 1 1 calc(50% - var(--space-gutter));
  }

  .fullSection > div > div {
    flex: 1 1 calc(100% - var(--space-gutter));
  }

  .fullSection > div:not(:first-of-type:last-of-type):nth-child(odd) > div, .section > div:not(:first-of-type:last-of-type):nth-child(odd) {
    margin-right: var(--space-gutter); 
  }

  .fullSection > div:not(:first-of-type:last-of-type):nth-child(even) > div, .section > div:not(:first-of-type:last-of-type):nth-child(even) {
    margin-left: var(--space-gutter); 
  }
  
  .fullSection > div:nth-child(odd) {
    justify-content: end;
    padding-right: 0;
  }
  
  .fullSection > div:nth-child(even) {
    justify-content: start;
    padding-left: 0;
  }
}

/* ---- */
/* MENU */
/* ---- */
#Shell {
  overflow: hidden;
  width: 100%;
}

#Content {
  width: 100%;
}

#Content, #Menu {
  max-width: 100%;
}

#Menu {
  top: 0;
  right: 0;
  position: fixed;
  transform: translateX(100%);
  min-height: 100vh;
  background-color: rgba(var(--color2), 1);
}

@media screen and (max-width: 1023px) {
  #Menu {
    width: 100%;
  }
}

/* -------------- */
/* TOP NAVIGATION */
/* -------------- */
#Navigation {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#Navigation > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: calc(var(--page-width) + (var(--space-gutter) * 2));
  padding: var(--space-block) var(--space-gutter);
}

/* ------------- */
/* INTRO SECTION */
/* ------------- */
#Content {
  content: "";
  display: block;
  padding-top: 100vh;
  width: 100%;
}
.introSection {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.introSection ~ * {
  background-color: white;
}