:root {
  /* Brand colors */
  --color-darkgreen: 15, 77, 65, 1;
  --color-green: 179, 211, 53, 1;
  --color-pink: 181, 159, 204, 1;

  --color1: 0, 0, 0;
  --color2: 100, 100, 100;
  --color3: 0, 0, 0;
  --color-font: 5, 5, 5;
  --color-font-secondary: 251, 251, 251, 1;
  --color-background: 227, 226, 223, 1;
  --color-foreground: var(--color-green);
  --color-button: var(--color-pink);
  --color-button-secondary: var(--color-font-secondary);

  --navigation-height: 87px;
  --page-width: 1200px;
  --space-floor: 10px;
  --space-section: calc(var(--space-floor) * 5);
  --space-block: calc(var(--space-floor) * 1);
  --space-gutter: calc(var(--space-floor) * 2);
  --space1: calc(var(--space-floor) * 3);
  --space2: calc(var(--space-floor) * 2);
  --space3: calc(var(--space-floor) * 1);

  --box-shadow: rgba(5, 5, 5, 0.15) 0px 8px 24px;

  /* Animation */
  --timing-long: 500ms;
  --timing-short: 300ms;
}

@media screen and (min-width: 1024px) {
  :root {
    --space-floor: 20px;
  }
}

/* ------- */
/* UTILITY */
/* ------- */
html {
  font-size: 16px;
  color: rgba(var(--color-font), 1);
  font-family: 'Mulish', sans-serif;
  font-family: 'Work Sans', sans-serif;
}

@media screen and (max-width: 1023px) {
  html {
    font-size: 14px;
  }
}

body {
  background-color: rgba(var(--color-background));
  position: relative;
}

.heading, .tinyHeading, #Menu a {
  font-family: 'Sulphur Point', sans-serif;
}

.heading, .tinyHeading {
  font-size: 2.5rem;
  color: inherit;
  display: block;
  max-width: 22ch;
}

 @media (min-width: 1024px) {
  .heading {
    font-size: 4rem;
  }

  .tinyHeading {
    font-size: 2.5rem;
    margin-bottom: 0.15em;
  }
}

.heading.animateMe > span, .tinyHeading.animateMe > span {
  display: block;
  transform: translateY(0.24em);
  opacity: 0;
}

.heading.animateMe.animated > span, .tinyHeading.animateMe.animated > span {
  transition: transform var(--timing-long) ease-in, opacity var(--timing-short) ease-in;
  transform: translateY(0);
  opacity: 1;
}

.subheading {
  font-size: 2rem;
  color: rgba(var(--color-font-secondary));
}

.description {
  font-size: 1.1rem;
  max-width: 65ch;
}

.subheading, .heading, .description {
  margin-bottom: 0.25em;
}

.frame {
  position: relative;
  width: 100%;
}

.framedBackground, .frameOverlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.frame::before, .framedBackground::before {
  content: "";
  padding-bottom: var(--frame-aspect, 100%);
  display: block;
}

.frame > img, .section > img, .fullSection > img, .framedBackground > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.frameOverlay {
  background-color: var(--overlay-color, rgba(var(--color-font), 0.25));
}

/* ------ */
/* BUTTON */
/* ------ */
.buttons {
  margin-top: var(--space2);
  display: flex;
  align-items: center;
}

[class*="Button"] svg {
  width: 1em;
  height: auto;
  margin-right: 0.25em;
}

[class*="Button"][disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.uniqueButton {
  position: relative;
  font-size: 14px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1.2em 2.5em;
  text-decoration: none;
  color: rgba(var(--color-button-secondary));
}

.uniqueButton .buttonLabel {
  position: relative;
  display: block;
  transition: color var(--timing-short) ease-in;
}

.uniqueButton .background {
  color: rgba(var(--color-button));
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.uniqueButton .background svg {
  width: 100%;
  height: 100%;
}

.uniqueButton .background svg path {
  transition: fill var(--timing-short) ease-in, color var(--timing-short) ease-in;
}

.uniqueButton:hover {
  color: rgba(var(--color-button));
}

.uniqueButton:hover .background {
  color: rgba(var(--color-button-secondary));
}

.filledButton, .outlinedButton, .textButton {
  display: block;
  cursor: pointer;
  font-size: 14px;
  transition: 
    color var(--timing-short) ease, 
    background-color var(--timing-short) ease, 
    transform var(--timing-short) ease,
    box-shadow var(--timing-short) ease,
    border var(--timing-short) ease;
}

.filledButton, .outlinedButton {
  padding: 0.8em 2em;
  border: 1px solid rgba(var(--color-button));
  border-radius: 999px;
  box-shadow: 0px 5px 5px 0px rgba(var(--color-button), 0.25);
}

.filledButton, .outlinedButton:hover {
  color: rgba(var(--color-button-secondary));
  background-color: rgba(var(--color-button));
}

.outlinedButton, .filledButton:hover {
  background-color: transparent;
  color: rgba(var(--color-button));
}

.outlinedButton:hover, .filledButton:hover {
  box-shadow: 0px 5px 15px 1px rgba(var(--color-button), 0.25);
  transform: translateY(-5px);
}

.textButton {
  display: inline-block;
  color: rgba(var(--color-font), 1);
  font-size: 14px;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  transition: opacity var(--timing-short) ease;
  margin-right: 2em;
  margin-left: 2em;
  text-decoration: none;
}

.textButton::before {
  content: "";
  position: absolute;
  display: block;
  background-color: rgba(var(--color-font), 1);
  width: 100%;
  height: 1px;
  bottom: 0;
  left: -100%;
  transition: transform var(--timing-short) ease, opacity var(--timing-short) ease;
}

.textButton:hover::before {
  transform: translateX(100%);
}

.textButton:hover::before, .textButton:hover {
  opacity: 0.5;
}

/* ------- */
/* SECTION */
/* ------- */
.section, .fullSection > [class*="Block"] {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
}

.fullSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
}

.section {
  padding: var(--space-section) var(--space-gutter);
  min-height: 100vh;
  background-color: rgba(var(--color-background));
}

.sectionBorder {
  position: relative;
  margin-top: 20px;
}

.sectionBorder > .border {
  background-color: rgba(var(--color-background));
  color: rgba(var(--color-foreground));
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 20px;
}

.sectionBorder > .border > svg {
  width: 100%;
  height: 100%;
  transform: rotate(180deg);
}

.fullSection > .oddBlock, .fullSection > .evenBlock {
  padding: var(--space-section) var(--space-gutter);
}

.section > [class*="Block"], .fullSection > [class*="Block"] {
  position: relative;
  flex: 1 0 100%;
}

.section > .singleBlock, .fullSection > .singleBlock {
  flex: 1 1 100%;
  width: 100%;
  max-width: calc(var(--page-width) - (var(--space-gutter) * 2));
}

.blockContent {
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 1023px) {
  .section > .oddBlock {
    margin-bottom: var(--space-gutter)
  }
}

@media screen and (min-width: 1024px) {
  .section > .oddBlock, .section > .evenBlock, 
  .fullSection > .oddBlock > div, .fullSection > .evenBlock > div {
    max-width: calc((var(--page-width) / 2) - (var(--space-gutter) * 2));
  }
  
  .fullSection > .oddBlock, .fullSection > .evenBlock {
    flex: 1 1 50%;
    min-height: 100%;
  }
  
  .section > .oddBlock {
    flex: 1 1 calc(50% - var(--space-gutter));
    margin-right: var(--space-gutter);
  }
  
  .section > .evenBlock {
    flex: 1 1 calc(50% - var(--space-gutter));
    margin-left: var(--space-gutter);
  }
  
  .fullSection > .oddBlock {
    padding-right: 0;
  }
  
  .fullSection > .evenBlock {
    padding-left: 0;
  }

  .fullSection > .oddBlock > div {
    flex: 0 1 calc(100% - var(--space-gutter));
    margin-right: var(--space-gutter); 
    justify-content: end;

  }

  .fullSection > .evenBlock > div {
    flex: 0 1 calc(100% - var(--space-gutter));
    margin-left: var(--space-gutter); 
    justify-content: start;
  }
}

/* ---- */
/* SITE CONTENT */
/* ---- */
.activeMenu {
  overflow: hidden;
}

/* -------------- */
/* TOP NAVIGATION */
/* -------------- */
#Navigation {
  color: rgba(var(--color-font), 1);
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#NavigationBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: rgba(var(--color-background));
  opacity: 0;
}

#NavigationBackground > .background {
  width: 100%;
  height: calc(100% - 20px);
  background-color: rgba(var(--color-background));
  transition: background-color var(--timing-long) ease-in;
}

.activeMenu #NavigationBackground {
  color: rgba(var(--color-foreground));
}

.activeMenu #NavigationBackground > .background {
  background-color: rgba(var(--color-foreground));
}

#NavigationBackground > svg {
  margin-top: -1px;
  width: 100%;
  height: 10px;
  display: block;
  transition: color var(--timing-long) ease-in;
}

#NavigationContent {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px var(--space-gutter) 25px;
  max-width: var(--page-width);
  margin: 0 auto;
}

#NavigationContent .links {
  display: flex;
}

#NavigationContent .links a:not(:last-child) {
  margin-right: var(--space1);
}

#NavigationContent .textButton {
  margin: 0;
  padding: 0.2em 0;
}

#Navigation.animateMe #NavigationBackground {
  opacity: 1;
  transition: opacity var(--timing-short) ease-in;
}

#Navigation.animateMe #Logo {
  flex: 0 0 60px;
}

#Logo {
  flex: 0 0 90px;
  color: var(--color-darkgreen);
  height: auto;
  display: block;
  transition: flex var(--timing-short) ease-in;
}

#Logo svg {
  width: 100%;
  height: auto;
}

/* -------- */
/* CAROUSEL */
/* -------- */
.carouselSection {
  min-height: 65vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  align-items: end;
  justify-content: center;
}

@media (min-width: 1024px) {
  .carouselSection {
    min-height: calc(100vh - var(--navigation-height));
  }
}

.carouselSection .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* .carouselSection:not(.noTransition) .slider {
  transition: transform 300ms ease-in;
} */

.carouselControlsContainer {
  position: relative;
  width: 100%;
  max-width: var(--page-width);
  padding: var(--space-gutter);
  display: flex;
  justify-content: end;
  pointer-events: none;
}

.carouselControls {
  pointer-events: all;
  display: inline-flex;
  border-radius: 99px;
  align-items: center;
  border: 2px rgba(var(--color-button-secondary)) solid;
  color: rgba(var(--color-button-secondary));
  padding: 5px;
}

.carouselControls .prevSlide, .carouselControls .nextSlide {
  padding: 5px;
  cursor: pointer;
}

.carouselControls svg {
  display: block;
  width: 20px;
  height: auto;
}

.carouselControls .prevSlide:active svg, .carouselControls .nextSlide:active svg {
  transform: scale(0.9);
}

/* Slide */
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  
  /* transform: translateX(calc(100% * var(--slide-index, 0))); */
}

.slideContent {
  color: rgba(var(--color-font-secondary));
  position: relative;
  z-index: 1;
  padding: var(--space-gutter) calc(var(--space-gutter) + 100px) var(--space-gutter) var(--space-gutter);
  width: 100%;
  max-width: var(--page-width);
}

/* ---- */
/* MENU */
/* ---- */
.activeMenu {
  overflow: hidden;
}

.activeMenu #Navigation #NavigationBackground .background {
  background-color: rgba(var(--color-foreground));
}

.activeMenu #Navigation #NavigationBackground svg {
  color: rgba(var(--color-foreground));
}

.closeButtonContainer {
  display: flex;
  justify-content: end;
  align-items: center;
}

#Menu {
  pointer-events: none;
  position: fixed;
  top: -101%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--color-foreground));
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform var(--timing-long) ease-in;
}

.activeMenu #Menu {
  pointer-events: all;
  transform: translateY(101%);
}

#Menu a {
  color: inherit;
  font-size: 2rem;
  text-decoration: underline;
}

#Menu a:not(:last-child) {
  margin-bottom: 0.5em;
}

#MenuButton {
  font-weight: 700;
  overflow: hidden;
  cursor: pointer;
}

.menuButtonContent {
  pointer-events: none;
  position: relative;
  transition: transform var(--timing-long) ease-in;
}

.activeMenu .menuButtonContent {
  transform: translateY(100%);
}

.menuButtonFirstStage, .menuButtonSecondStage {
  display: block;
  text-align: center;
}

.menuButtonSecondStage {
  transform: translateY(-100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

@media (min-width: 1024px) {
  #MenuButton, #Menu {
    display: none;
  }
}

@media (max-width: 1023px) {
  #NavigationContent .links {
    display: none;
  }
}

/* ------ */
/* FOOTER */
/* ------ */
#Footer {
  background-color: rgba(var(--color-foreground));
  align-items: start;
  padding-top: calc(var(--space-section) / 2);
  padding-bottom: calc(var(--space-section) / 2);
  min-height: unset;
}

#Footer ul {
  display: flex;
}

#Footer .tinyHeading {
  margin-bottom: var(--space3);
}

#Footer .textButton {
  font-size: 1.8rem;
  margin: 0 var(--space1) 0 0;
}

@media (min-width: 1024px) {
  #Footer .copyEmail {
    font-size: 2.5rem;
  }

  #Footer .footerText {
    font-size: 1.6rem;
  }
}

/* ----- */
/* INTRO */
/* ----- */
.hasIntroSection {
  padding-top: 100vh;
}

.introSection {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: rgba(var(--color-font-secondary));
  line-height: 1.2;
}

.introSection > img {
  width: calc(100% - (var(--space-gutter) * 2));
  height: calc(100% - (var(--space-gutter) * 2));
  top: var(--space-gutter);
  left: var(--space-gutter);
}

.introSection .heading {
  max-width: unset;
}

/* --------- */
/* CASE GRID */
/* --------- */
.casesGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  height: 200vh;
}

.gridItem {
  position: relative;
}
