:root {
  --color1: 0, 0, 0;
  --color2: 100, 100, 100;
  --color3: 0, 0, 0;
  --color-font: 5, 5, 5;
  --color-font-secondary: var(--color-font), 0.5;
  
  --page-width: 1440px;
  --space-floor: 10px;
  --space-section: calc(var(--space-floor) * 5);
  --space-block: calc(var(--space-floor) * 1);
  --space-gutter: calc(var(--space-floor) * 2);
  --space1: calc(var(--space-floor) * 4);
  --space2: calc(var(--space-floor) * 2);
  --space3: calc(var(--space-floor) * 1);

  --timing-long: 500ms;
  --timing-short: 300ms;
}

@media screen and (min-width: 1024px) {
  :root {
    --space-floor: 20px;
  }
}

/* ------- */
/* UTILITY */
/* ------- */
html {
  font-size: 100%;
  color: rgba(var(--color-font), 1);
  font-family: 'Poppins', sans-serif;
}

.heading {
  font-size: 3rem;
  color: rgba(var(--color-font), 1);
  font-family: 'Poltawski Nowy', serif;
  font-weight: 700;
}

.subheading {
  font-size: 2rem;
  color: rgba(var(--color-font-secondary));
}

.description {
  font-size: 1.2rem;
}

.subheading, .heading, .description {
  margin-bottom: 0.25em;
}

.frame {
  position: relative;
}

.frame::before {
  content: "";
  padding-bottom: var(--frame-aspect, 100%);
  display: block;
}

.frame img, .section > img, .fullSection > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ---------- */
/* ANIMATIONS */
/* ---------- */
.activeTransitions #Slider {
  transition: transform var(--timing-long) ease;
}

.activeMenu #Slider {
  transform: translateX(var(--move-content));
}

/* ------- */
/* SECTION */
/* ------- */
.section, .fullSection, .fullSection > [class*="Block"] {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
}

.section {
  padding: var(--space-section) var(--space-gutter);
  min-height: 100vh;
}

.fullSection > .oddBlock, .fullSection > .evenBlock {
  padding: var(--space-section) var(--space-gutter);
}

.section > [class*="Block"], .fullSection > [class*="Block"] {
  position: relative;
  flex: 1 0 100%;
}

.section > .singleBlock, .fullSection > .singleBlock {
  flex: 1 1 100%;
  width: 100%;
  max-width: var(--page-width);
}

@media screen and (max-width: 1023px) {
  .section > .oddBlock {
    margin-bottom: var(--space-gutter)
  }
}

@media screen and (min-width: 1024px) {
  .section > .oddBlock, .section > .evenBlock, 
  .fullSection > .oddBlock > *, .fullSection > .evenBlock > * {
    max-width: calc((var(--page-width) / 2) - (var(--space-gutter) * 2));
  }
  
  .fullSection > .oddBlock, .fullSection > .evenBlock {
    flex: 1 1 50%;
  }
  
  .section > .oddBlock {
    flex: 1 1 calc(50% - var(--space-gutter));
    margin-right: var(--space-gutter);
  }

  .section > .evenBlock {
    flex: 1 1 calc(50% - var(--space-gutter));
    margin-left: var(--space-gutter);
  }

  .fullSection > .oddBlock > * {
    flex: 0 1 calc(100% - var(--space-gutter));
    margin-right: var(--space-gutter); 
    justify-content: end;

  }

  .fullSection > .evenBlock > * {
    flex: 0 1 calc(100% - var(--space-gutter));
    margin-left: var(--space-gutter); 
    justify-content: start;
  }
}

/* ---- */
/* MENU */
/* ---- */
.activeMenu {
  overflow: hidden;
}

#Shell {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#Slider {
  width: 100%;
  display: flex;
}

#Content {
  width: 100%;
  flex: 0 0 100%;
}

#Content, #Menu {
  max-width: 100%;
}

#Menu {
  flex: 0 0 auto;
  color: rgba(var(--color-font-secondary));
  background-color: rgba(var(--color2), 1);
  padding-top: var(--navigation-height, 0px);
}

@media screen and (max-width: 1023px) {
  #Menu {
    width: 100%;
  }
}

/* -------------- */
/* TOP NAVIGATION */
/* -------------- */
#Navigation {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#Navigation > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: var(--page-width);
  padding: var(--space-block) var(--space-gutter);
}

/* ------------- */
/* INTRO SECTION */
/* ------------- */
#Content {
  display: block;
  padding-top: 100vh;
  width: 100%;
}

.introSection {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.introSection ~ * {
  background-color: white;
}


/*
 To do:
  -animate on scroll down
  -change background color
  -create animate hamburger
  -start to style 
  -setup content
*/