.visualRolette {
  flex: 0 0 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.visualRolette > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.visualRolette > div:not(:first-child) {
  top: 100%; 
}

@media (max-width: 1023px) {
  .visualRolette + .visualRolette {
    display: none;
  }

  .visualRolette + .visualRolette + .visualRolette {
    display: none;
  }
}

@media (min-width: 1024px) {
  .visualRolette {
    flex: 0 0 50%;
    width: 50%;
    padding-top: 50%;
  }
}

.visualRolette > div:first-child {
  animation: rouletteInit var(--roulette-timing) linear infinite;
}

.visualRolette > div:nth-child(2) {
  animation: roulette1 var(--roulette-timing) linear infinite;
}

.visualRolette > div:nth-child(3) {
  animation: roulette2 var(--roulette-timing) linear infinite;
}

.visualRolette > div:nth-child(4) {
  animation: roulette3 var(--roulette-timing) linear infinite;
}

.visualRolette > div:nth-child(5) {
  animation: roulette4 var(--roulette-timing) linear infinite;
}

.visualRolette > div:nth-child(6) {
  animation: roulette5 var(--roulette-timing) linear infinite;
}

@keyframes rouletteInit {
  4.16% {
    transform: translateY(0%);
    opacity: 1;
  }
  12.5%, 49% {
    transform: translateY(-100%);
    opacity: 1;
  }
  50% {
    transform: translateY(-100%);
    opacity: 0;
  }
  51% {
    transform: translateY(100%);
    opacity: 0;
  }
  87.5% {
    opacity: 1;
    transform: translateY(100%);
  }
  95.83%, 100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes roulette1 {
 4.16% {
  transform: translateY(0%);
 }
 12.5%, 20.83% {
  transform: translateY(-100%);
}
29.16%, 100% {
   transform: translateY(-200%);
 }
}

@keyframes roulette2 {
  20.83% {
    transform: translateY(0%);
  }
  29.16%, 37.5% {
    transform: translateY(-100%);
  }
  45.83%, 100% {
    transform: translateY(-200%);
  }
}

@keyframes roulette3 {
  37.5% {
    transform: translateY(0%);
  }
  45.83%, 54.16% {
    transform: translateY(-100%);
  }
  62.5%, 100% {
    transform: translateY(-200%);
  }
}

@keyframes roulette4 {
  54.16% {
    transform: translateY(0%);
  }
  62.5%, 70.83% {
    transform: translateY(-100%);
  }
  79.16%, 100% {
    transform: translateY(-200%);
  }
}

@keyframes roulette5 {
  70.83% {
    transform: translateY(0%);
  }
  79.16%, 87.5% {
    transform: translateY(-100%);
  }
  95.83%, 100% {
    transform: translateY(-200%);
  }
}

/* ------- */
/* REVERSE */
/* ------- */
.visualRolette.reverseRoulette > div:not(:first-child) {
  top: -100%; 
}

.visualRolette.reverseRoulette > div:first-child {
  animation: reverseRouletteInit var(--roulette-timing) linear infinite;
}

.visualRolette.reverseRoulette > div:nth-child(2) {
  animation: reverseRoulette1 var(--roulette-timing) linear infinite;
}

.visualRolette.reverseRoulette > div:nth-child(3) {
  animation: reverseRoulette2 var(--roulette-timing) linear infinite;
}

.visualRolette.reverseRoulette > div:nth-child(4) {
  animation: reverseRoulette3 var(--roulette-timing) linear infinite;
}

.visualRolette.reverseRoulette > div:nth-child(5) {
  animation: reverseRoulette4 var(--roulette-timing) linear infinite;
}

.visualRolette.reverseRoulette > div:nth-child(6) {
  animation: reverseRoulette5 var(--roulette-timing) linear infinite;
}

@keyframes reverseRouletteInit {
  4.16% {
    transform: translateY(0%);
    opacity: 1;
  }
  12.5%, 49% {
    transform: translateY(100%);
    opacity: 1;
  }
  50% {
    transform: translateY(100%);
    opacity: 0;
  }
  51% {
    transform: translateY(-100%);
    opacity: 0;
  }
  87.5% {
    opacity: 1;
    transform: translateY(-100%);
  }
  95.83%, 100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes reverseRoulette1 {
 4.16% {
  transform: translateY(0%);
 }
 12.5%, 20.83% {
  transform: translateY(100%);
}
29.16%, 100% {
   transform: translateY(200%);
 }
}

@keyframes reverseRoulette2 {
  20.83% {
    transform: translateY(0%);
  }
  29.16%, 37.5% {
    transform: translateY(100%);
  }
  45.83%, 100% {
    transform: translateY(200%);
  }
}

@keyframes reverseRoulette3 {
  37.5% {
    transform: translateY(0%);
  }
  45.83%, 54.16% {
    transform: translateY(100%);
  }
  62.5%, 100% {
    transform: translateY(200%);
  }
}

@keyframes reverseRoulette4 {
  54.16% {
    transform: translateY(0%);
  }
  62.5%, 70.83% {
    transform: translateY(100%);
  }
  79.16%, 100% {
    transform: translateY(200%);
  }
}

@keyframes reverseRoulette5 {
  70.83% {
    transform: translateY(0%);
  }
  79.16%, 87.5% {
    transform: translateY(100%);
  }
  95.83%, 100% {
    transform: translateY(200%);
  }
}