:root {
  --roulette-timing: 10s;
}

.visualGrid {
  display: flex;
}

.visualGridColumn {
  flex: 0 0 50%;
}

.visualGridColumn > * {
  width: 100%;
}
.visualItem,
.visualFrame,
.fullVisualItem {
  padding-top: 100%;
}

.visualFrame {
  position: relative;
  background-color: rgba(var(--frame-background, 0, 0, 0, 0));
}

.visualFrame img,
.visualRolette img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: auto;
  transform: translate(-50%, -50%);
  transition: transform var(--timing-long) ease-in;
}

.visualFrame img {
  box-shadow: var(--box-shadow);
}

.visualFrame img.landscape,
.visualRolette img.landscape {
  width: auto;
  height: 50%;
}

.visualFrame:hover img {
  transform: scale(1.05) translate(-47.5%, -47.5%);
}

.visualItem,
.visualFrame,
.fullVisualItem {
  flex: 0 0 100%;
  width: 100%;
}

@media (min-width: 1024px) {
  .visualItem,
  .visualFrame {
    flex: 0 0 50%;
    padding-top: 50%;
  }
}

/* -------- */
/* CAROUSEL */
/* -------- */
.visualCarousel {
  overflow: hidden;
  display: flex;
}

.visualCarouselContent {
  flex: 0 0 auto;
  display: flex;
  animation: visualCarousel 30s linear infinite;
}

@keyframes visualCarousel {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

.visualCarousel img {
  display: block;
  flex-shrink: 0;
  width: 500px;
  height: auto;
  margin: -4px;
}
